* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.background_container {
  height: 650px;
  width: 1440px;
}
.background_container .bg_image {
  background-image: url("images/bg_two.png");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.background_container .custom_shadow {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1019607843);
}
.background_container .custom_shadow_two {
  box-shadow: -10px 10px 30px 0px rgba(142, 135, 135, 0.2);
}

.custom_shadow_three {
  box-shadow: -30px 30px 30px 0px rgba(40, 40, 40, 0.0509803922);
}

.custom_shadow_two {
  box-shadow: -10px 10px 30px 0px rgba(142, 135, 135, 0.2);
}

.custom_shadow_four {
  box-shadow: -10px 10px 30px 0px rgba(0, 0, 0, 0.1490196078);
}
